.header-league {
  display: grid;
  grid-column-gap: 16px;
  grid-template:        " logo1 title logo2 " 1fr
  " logo1 info logo2 " max-content/max-content 1fr max-content;
  font-size: 18px;
  text-align: left;
  
}

.header-logo {
  grid-area: logo1;
  height: 16vh;
  width: 16vh;
  background-color: #fff;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-logo img {
  
  height: 14vh;
  width: 12vh;
  
 
}

.header-name {
  grid-area: title;
}
.header-season {
  grid-area:info;
  font-size: 14px;
}



.table-container {
  display: flex;
  justify-content: center;
  font-size: 14px;

}

.standings {
  width: 100vh;
  border-collapse: collapse;
  margin-bottom: 1rem;
 
}

.standings-header,
.standings-row {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  border-bottom: 1px solid #ccc;
}

.standings-header {
  font-weight: bold;
}


.header-rank,
.row-rank {
  width: 5%;
}

.header-team,
.row-team {
  width: 30%;
  display: flex;
  align-items: center;
}

.team-logo-table {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}

.header-mp,
.row-mp {
  width: 5%;
}

.header-w,
.row-w,
.header-d,
.row-d,
.header-l,
.row-l,
.header-g,
.row-g,
.header-pts,
.row-pts {
  width: 7.5%;
  text-align: center;
}

.header-form,
.row-form {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}



  .team-form-letter {
    font-weight: bold;
    border-radius: 4px;
    width: 20px;
    
  
  }

  .win {
    background-color: green;

  }
  
  .draw {
    background-color: orange;

  }
  
  .loss {
    background-color: red;
  }