

.table-container {
  display: flex;
  font-size: 14px;

}

.standings {
  width: 100vh;
  border-collapse: collapse;
  margin-bottom: 1rem;
 
}

.standings-header,
.standings-row {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  border-bottom: 1px solid #ccc;
}

.standings-header {
  font-weight: bold;
}


.header-rank,
.row-rank-container {
  width: 5%;
  cursor: default
}
.row-rank {
  width:26px;
  justify-content: center;
}
.row-rank[title*="Champions League "] {
  background-color: rgb(0, 70, 130);
}
.row-rank[title*=" UEFA Champions League "] {
  background-color: rgb(0, 70, 130);
}
.row-rank[title*="Europa League "] {
  background-color:rgb(127, 0, 41);
}
.row-rank[title*=" UEFA Europa League "] {
  background-color:rgb(127, 0, 41);
}
.row-rank[title*="Europa Conference League"] {
  background-color:rgb(184, 134, 11);
}
.row-rank[title*=" UEFA Conference League"] {
  background-color:rgb(184, 134, 11);
}
.row-rank[title*="Relegation"] {
  background-color:rgb(189, 0, 0);
}


.header-team,
.row-team {
  width: 30%;
  display: flex;
  align-items: center;
}

.team-logo-table {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}

.header-mp,
.row-mp {
  width: 5%;
}

.header-w,
.row-w,
.header-d,
.row-d,
.header-l,
.row-l,
.header-g,
.row-g,
.header-pts,
.row-pts {
  width: 7.5%;
  text-align: center;
}

.header-form,
.row-form {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}



  .team-form-letter {
    font-weight: bold;
    border-radius: 4px;
    width: 20px;
    
  
  }

  .win {
    background-color: green;

  }
  
  .draw {
    background-color: orange;

  }
  
  .loss {
    background-color: red;
  }