.standings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.team-logo-table {
    width: 25px;
    height: 25px;
}
.league-header {
    display: flex;
   justify-content:flex-start;
   align-items: center;
   gap: 50px;
}
.league-header img {
    width: 50px;
    height: 50px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    width: 80%;
    font-size: 14px;
    line-height: 1.5;
  }
  

  

  table.standings th {
    font-weight: bold;
    text-align: center;
    padding: 8px;
    
  }
  
 
  table.standings td {
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid #808080
   
  }
  
  thead th:nth-child(2) {
    
    display: flex;
    justify-content: flex-start;
  }
  tbody td:nth-child(2) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
  }

  thead th:nth-child(3) {
    width: 5%;

  }

  thead th:nth-child(4) {
    width:5%;

  }
  thead th:nth-child(5) {
    width: 5%;

  }
  thead th:nth-child(6) {
    width: 5%;

  }
  thead th:nth-child(7) {
    width: 5%;

  }
  thead th:nth-child(8) {
    width: 5%;

  }

  thead th:nth-child(9) {
    width: 5%;

  }