
.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
}

.leaguelist-container {
  width: 250px;
  margin-right: 20px;
}

.maincontent-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: white;
  
}

.fixtures {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 20px;
}