.league-logo  > img{
    width: 20px;
    height: 20px;;

}

.league-container {
    display: flex;
    justify-content:flex-start;
    gap:8px;
    margin:12px;
    color: white;
    padding: 2px;
}

.league-container:hover {
    background-color: rgb(205, 170, 66);
    border-radius: 8px;
    cursor: pointer;
}

.league-header {
    display: flex;
    justify-content: flex-start;
    margin:12px;
    color: white;
}

.my-leagues {
    background-color: #272727;
    border-radius: 10px;
    padding: 10px;
}

hr {
    margin-bottom: 20px;
    border-top: 1px;
    width: 90%;
}