.league-logo  > img{
    width: 20px;
    height: 20px;;

}

.league-container {
    display: flex;
    justify-content:flex-start;
    gap:8px;
    margin:12px;
    color: white;
    padding: 2px;
}

.league-container:hover {
    background-color: gray;
    border-radius: 8px;
    cursor: pointer;
}

.league-header {
    display: flex;
    justify-content: flex-start;
    margin:12px;
    color: white;
    margin-bottom: 30px;
}

