.league-logo  > img{
    width: 20px;
    height: 20px;;

}

.league-container {
    display: flex;
    justify-content:flex-start;
    gap:5px;
    margin:12px;
    
}

.league-container:hover {
    background-color: gray;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.5;
}

.league-header {
    display: flex;
    justify-content: flex-start;
    margin:12px
}